main {
  font-family: Geneva, Verdana, sans-serif;
  background-image: url('https://b.zmtcdn.com/web_assets/81f3ff974d82520780078ba1cfbd453a1583259680.png');
}

header ul {
  display: flex;
  justify-content: end;
  margin: 0;
}

header ul li {
  margin-left: 40px;
  list-style-type: none;
  padding: 20px;
}

header ul li a {
  text-decoration: none;
  color: white;
  font-size: medium;
  font-weight: bold;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0px 140px 0px;
}

h1 {
  font-size: 34px;
  /* padding: 16px; */
  color: white;
}

.searchBar {
  width: 750px;
  border-radius: 8px;
  background-color: white;
  overflow: hidden;
}

.locationInput,
.searchInput {
  padding: 20px 25px;
  height: 100%;
  border: none;
}

.locationInput {
  width: 30%;
}

.searchInput {
  width: 55%;
}

.cardwrapper {
  display: flex;
  padding: 30px 80px;
}

.cards {
  background-color: white;
  /* height: 220px; */
  width: 420px;
  border-radius: 15px;
  margin: 15px;
  overflow: hidden;
  border: 1px solid gray;
}

.card-text {
  padding: 10px 20px;
  line-height: 30px;
}
h5 {
  font-weight: 400;
  margin: 0%;
}
p {
  font-weight: 300;
  font-size: large;
  margin: 0%;
}

.imgwrapper {
  background-color: aqua;
  height: 140px;
  overflow: hidden;
}

.cards img {
  width: 100%;
  offset-position: initial;
}

.logo {
  height: 60px;
}

.heading {
  margin-left: 90px;
  margin-right: 90px;
}

.text {
  display: flex;
  justify-content: space-between;
  height: 35px;
  font-size: larger;
}

h2 {
  font-weight: 500;
  height: 15px;
}
a {
  text-decoration: none;
  font-weight: 200;
  font-size: large;
  margin-top: 8px;
  color: rgb(213, 70, 70);
}
h6 {
  font-weight: 200;
  margin-top: 10px;
}
.collection {
  display: flex;
  justify-content: space-between;
  padding: 0px 80px;
  /* background-color: aquamarine; */
}

.collectioncard {
  color: aliceblue;
  width: 280px;
  height: 330px;
  border-radius: 6px;
  margin-top: 40px;
  position: relative;
  background-size: cover;
  overflow: hidden;
}

.collectioncardheading {
  font-size: 20px;
  position: absolute;
  bottom: 0;
  padding: 30px 20px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0), black);
}

.block {
  /* background-color: violet; */
  padding: 20px 80px;
  margin-top: 100px;
}
.tag {
  font-size: 40px;
  font-weight: 350;
}
.smallblock {
  background-color: rgb(244, 244, 244);
  width: 350px;
  padding: 20px;
  border-style: groove;
  border-radius: 10px;
  /* text-align: left; */
  display: flex;
}

.box1 {
  /* background-color: aqua; */
  flex-grow: 1;
}

.smallblock:hover {
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);
}
.multipleblock {
  /* background-color: blueviolet; */
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 20px;
  justify-content: space-between;
  padding: 30px 0px;
}
