body {
  margin: 0;
  padding: 0;
}
.line {
  /* background-color: brown; */
  border-left: 15px solid #f23b3f;
  height: 100vh;
  position: fixed;
  left: 0;
}
.container {
  /* background-color: aqua; */
  padding-left: 45px;
  padding-right: 30px;
}

.main {
  /* background-color: blue; */
  /* margin: 45px; */
  /* height: 95vh; */
}
img {
  /* background-color: aquamarine; */
  margin-top: 60px;
}
.pre {
  margin-top: 60px;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  font-family: Roboto Mono, sans-serif;
  font-weight: lighter;
  font-size: xx-large;
  color: black;
  /* background-color: bisque; */
}
h3 {
  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
  font-family: Roboto Mono, sans-serif;
  color: rgba(86, 84, 84, 0.779);
  /* background-color: bisque; */
}
p {
  color: gray;
  font-size: small;
  font-family: Roboto Mono, sans-serif;
  margin-bottom: 70px;
  /* background-color: bisque; */
}
.form {
  margin-bottom: 30px;
}

.flatdetails {
  /* background-color: beige; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

#A {
  background-color: #62883e;
  color: white;
  text-align: center;
  height: 60px;
  width: 18%;
  border-radius: 7px;
  font-size: large;
  font-weight: bold;
  border: none;
}

input {
  background-color: #33580f;
  color: white;
  font-size: large;
  font-weight: bold;
  padding-left: 20px;
  height: 60px;
  width: 80%;
  border: none;
  border-radius: 7px;
}
::placeholder {
  color: white;
}
input[type="number"] {
  background-color: #6f825d;
  color: white;
  font-size: large;
  height: 60px;
  width: 100%;
  border: none;
  border-radius: 7px;
  /* margin: 15px; */
  align-items: center;
}

.whatsappnumber {
  /* background-color: rgb(87, 87, 123); */
  /* width: fit-content; */
  position: relative;
}

.icon_whatsapp {
  /* background-color: aquamarine; */
  position: absolute;
  right: 23px;
  top: 22px;
}

.cont {
  color: white;
  background-color: rgb(195, 162, 16);
  font-size: large;
  font-weight: bold;
  padding: 0 20px;
  text-align: left;
  height: 60px;
  border: none;
  border-radius: 7px;
  width: 100%;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.dis {
  color: rgb(191, 188, 188);
  font-size: small;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  font-family: Roboto Mono, sans-serif;
  line-height: 20px;
  /* background-color: yellowgreen; */
}
.icon {
  height: 45px;
  margin-left: 300px;
  /* background-color: brown; */
  margin-top: -9px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 800px) {
  body {
    /* background-color: #848980; */
  }
  .wrapper {
    flex-direction: row;
  }
}
