body {
  margin: 0;
}
.main {
  display: flex;
  height: 100vh;
}
.div1 {
  background-color: coral;
  width: 40%;
  background-image: url("./login-bg.jpg");
  background-size: cover;
  text-align: left;
  padding: 20px;
}
.div4 {
  /* background-color: black; */
  margin-top: 350px;
}
img {
  /* background-color: blue; */
}
p {
  /* text-align: justify; */
  color: white;
  margin-left: 15px;
  font-size: large;
}
.div2 {
  background-color: rgb(225, 132, 132);
  width: 60%;
  padding: 200px;
}
.div3 {
  width: 40%;
  background-color: white;
  height: 200px;
  margin-left: 120px;
  margin-top: 50px;
  padding: 20px;
  text-align: center;
}

input {
  width: 100%;
  height: 30px;
  margin-top: 12px;
  border: 1px solid black;
  padding: 10px;
  outline: 0;
}
.btnfirst {
  width: 100%;
  height: 30px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: rgb(46, 137, 228);
  color: white;
  border: 1px solid black;
  cursor: pointer;
}
.btnsecond {
  width: 100%;
  height: 30px;
  margin-top: 12px;
  margin-bottom: 12px;
  background-color: rgb(46, 179, 39);
  color: white;
  border: 1px solid black;
  cursor: pointer;
}
a {
  color: rgb(39, 149, 234);
  text-decoration: none;
}
